####################################################################################################
# Data directory for TSV input/output files
####################################################################################################

VARIANT_DATA_DIR=./data

####################################################################################################
# Environment variables for vrs-mapping
####################################################################################################

GENE_NORM_DB_URL=postgres://postgres:postgres@db:5432/gene_normalizer
MAVEDB_STORAGE_DIR=/root/.local/share/dcd-mapping

####################################################################################################
# Environment variables for postgres
####################################################################################################

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gene_normalizer

####################################################################################################
# Environment variables for UTA connection via CoolSeqTool
####################################################################################################

UTA_DB_URL=postgresql://anonymous:anonymous@uta:5432/uta/uta_20241220

####################################################################################################
# Environment variables for MaveDB connection
####################################################################################################

# MAVEDB_BASE_URL=http://localhost:8000
# MAVEDB_API_KEY=

####################################################################################################
# Environment variables for seqrepo
####################################################################################################

SEQREPO_ROOT_DIR=/usr/local/share/seqrepo/2024-12-20
HGVS_SEQREPO_DIR=/usr/local/share/seqrepo/2024-12-20

####################################################################################################
# Environment variables for ClinGen
####################################################################################################

CLINGEN_API_URL=https://reg.genome.network/allele

####################################################################################################
# Environment variables for ensembl
####################################################################################################

ENSEMBL_API_URL=https://rest.ensembl.org

####################################################################################################
# Environment variables for SpliceAI annotation
####################################################################################################

SPLICEAI_CACHE_DIR=/spliceai-cache
SPLICEAI_PRECOMPUTED_SNV_VCF=/spliceai-cache/spliceai_scores.masked.snv.hg38.vcf.gz
SPLICEAI_PRECOMPUTED_INDEL_VCF=/spliceai-cache/spliceai_scores.masked.indel.hg38.vcf.gz

####################################################################################################
# Environment variables for cdot
####################################################################################################

CDOT_URL=http://cdot:8000
REDIS_HOST=redis
REDIS_IP=redis
REDIS_PORT=6379
REDIS_SSL=false
